@import "theme";
@import "abstracts/variables";
/*-------------------------------------------------------------
# Navigation 
--------------------------------------------------------------*/

.nav-menu {
  background: #1a6;
  padding: 27px;
  transition: all linear 0.3s;
  .menu-item {
    a {
      font-size: 17px;
      letter-spacing: 1px;
      color: rgb(149, 235, 202);
      transition: all linear 0.3s;
      &:hover {
        color: #4cf;
      }
    }
    .active {
      color: #4cf;
    }
  }
}
.nav-button {
  outline: none;
}

.navbar-toggler {
  box-shadow: none;
  outline: none;
  border: 0;
  &:focus {
    box-shadow: none;
    outline: none;
    border: 0;
  }
}

/*-------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
  // background: url("img/banner.jpg") no-repeat center / cover;
  background: #1a6;
  height: 90vh;
  position: relative;
  .banner-text {
    position: absolute;
    color: rgb(149, 235, 202);
    top: 20%;
    right: 0;
    .banner-h {
      letter-spacing: 5px;
    }
  }
}
/*-------------------------------------------------------------
# Home Footer
--------------------------------------------------------------*/
.home-footer {
  color: rgb(149, 235, 202);
  a {
    color: rgb(149, 235, 202);
  }
}
